
<div class="layout-container">

  <header role="banner" class="navbar-fixed-top">
    <div class="row">      

          {{ page.header }}          
                
     
    </div>    
  </header>

  <div class="front_page">
    {{ page.front_page }}
  </div>

  <div >
  	{{ page.footer }}
  </div>






