/* line 3, ../sass/partials/_header.scss */
header nav {
  width: 100%;
  margin-top: -19px;
}
/* line 7, ../sass/partials/_header.scss */
header .meny-stang {
  font-size: 178%;
  float: right;
  margin-top: 4%;
}
/* line 12, ../sass/partials/_header.scss */
header .site-branding {
  padding-top: 22px;
  margin-left: 35px;
}
/* line 15, ../sass/partials/_header.scss */
header .site-branding img {
  width: 69%;
  height: auto;
  background-size: 100% auto;
}
/* line 22, ../sass/partials/_header.scss */
header hr {
  border-top: 1px solid #0cf;
}
/* line 26, ../sass/partials/_header.scss */
header a {
  display: block;
  color: white;
}
/* line 31, ../sass/partials/_header.scss */
header a:hover {
  text-decoration: none;
  color: #0cf;
}
/* line 38, ../sass/partials/_header.scss */
header li .glyphicon-chevron-right {
  font-size: 11px;
  margin-right: 6px;
}
/* line 43, ../sass/partials/_header.scss */
header .menu-item--expanded {
  list-style-image: none;
  list-style-type: none;
}
/* line 47, ../sass/partials/_header.scss */
header .menu-item--expanded ul {
  margin-left: 7px;
  margin-bottom: 0px;
}
/* line 50, ../sass/partials/_header.scss */
header .menu-item--expanded ul span {
  display: none;
}
/* line 57, ../sass/partials/_header.scss */
header .storledenAB img {
  margin-top: 48px;
}

/* line 66, ../sass/partials/_header.scss */
.front-header {
  background-color: transparent;
}

/* line 70, ../sass/partials/_header.scss */
.headerColor {
  background-color: #343434;
}

/* line 74, ../sass/partials/_header.scss */
.headerColorScroll {
  background-color: #343434;
}

/* line 79, ../sass/partials/_header.scss */
.flex-container-heder {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

/* line 94, ../sass/partials/_header.scss */
.flex-item-header {
  /* background: tomato; */
  padding: 5px;
  min-width: 142px;
  width: 36%;
  margin-top: 10px;
}

/* line 102, ../sass/partials/_header.scss */
.flex-container-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

/* line 117, ../sass/partials/_header.scss */
.flex-item-nav {
  padding: 5px;
  min-width: 142px;
  width: 25%;
  margin-top: 10px;
  padding-bottom: 7%;
}

/* line 150, ../sass/partials/_header.scss */
.screen-img {
  margin-top: 50px;
}
/* line 152, ../sass/partials/_header.scss */
.screen-img p {
  margin: 0px 0px 0px 0px;
}
/* line 156, ../sass/partials/_header.scss */
.screen-img img {
  max-width: 100%;
  height: auto;
  min-width: 100%;
}

/* line 166, ../sass/partials/_header.scss */
#block-screenimgtext {
  position: absolute;
  left: 31%;
  top: 47%;
  width: 40%;
  font-size: 20px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 605px) {
  /* line 178, ../sass/partials/_header.scss */
  #block-screenimgtext {
    position: absolute;
    left: 31%;
    top: 47%;
    width: 40%;
    font-size: 13px;
    color: white;
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  /* line 190, ../sass/partials/_header.scss */
  #block-screenimgtext {
    position: absolute;
    left: 31%;
    top: 36%;
    width: 40%;
    font-size: 10px;
    color: white;
    text-align: center;
  }
}
@media screen and (max-width: 377px) {
  /* line 203, ../sass/partials/_header.scss */
  #block-screenimgtext {
    position: absolute;
    left: 31%;
    top: 24%;
    width: 40%;
    font-size: 10px;
    color: white;
    text-align: center;
  }
}
/**
#block-latestprojectsblock{
	text-align: center;
	color:#00c7fc;
	


	.projects{
		img{
			width: 300px;
			height: 300px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

	}

	div{
		margin-top: 10px;
	}

	button{
		    margin-top: 40px;
	}

}
*/
/**
#block-tjansterblock{
	margin-top: 50px;
	text-align: center;

	img{
		width: 80px;
	}
	a{
		text-decoration: none;
	}
	.tjanst{
		display: table;
  		margin: 0 auto;
  		width: 250px;
    	font-size: 11px;
	}
	.row{
		margin-top: 50px;
	}
}

*/
/* line 272, ../sass/partials/_header.scss */
#block-allprojectsangularfilterblock {
  display: table;
  margin: 0 auto;
}
/* line 276, ../sass/partials/_header.scss */
#block-allprojectsangularfilterblock h1 {
  text-align: center;
  margin: 50px;
}
/* line 281, ../sass/partials/_header.scss */
#block-allprojectsangularfilterblock .searchField {
  height: 32.5px;
  margin: 0px 12px 5px 12px;
  color: #00c7fc;
}
/* line 287, ../sass/partials/_header.scss */
#block-allprojectsangularfilterblock img {
  width: 250px;
}
/* line 290, ../sass/partials/_header.scss */
#block-allprojectsangularfilterblock .divs {
  width: 250px;
  text-align: center;
}
/* line 296, ../sass/partials/_header.scss */
#block-allprojectsangularfilterblock label {
  margin: 0px 12px 5px 12px;
  border-radius: 0px;
  color: #fff;
  background-color: #00c7fc;
  border-color: #05b4e2;
}
/* line 303, ../sass/partials/_header.scss */
#block-allprojectsangularfilterblock .ng-scope {
  display: inline-block;
  margin: 15px;
}
/* line 308, ../sass/partials/_header.scss */
#block-allprojectsangularfilterblock .centerDiv {
  display: table;
  margin: 0 auto;
}

/* line 1, ../sass/partials/_node-page.scss */
.block-page-title-block {
  text-align: center;
}

/* line 6, ../sass/partials/_node-page.scss */
.node__content {
  padding: 0% 5% 0% 5%;
}
/* line 8, ../sass/partials/_node-page.scss */
.node__content .field--name-field-ingress {
  display: table;
  margin: auto;
  margin-bottom: 54px;
  margin-top: -23px;
  text-align: center;
}
/* line 15, ../sass/partials/_node-page.scss */
.node__content .field--type-image {
  width: 99%;
}
/* line 18, ../sass/partials/_node-page.scss */
.node__content img {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 25px;
}
/* line 24, ../sass/partials/_node-page.scss */
.node__content .field__label {
  display: none;
}

/* line 30, ../sass/partials/_node-page.scss */
.kontakt-for-test input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-right: 10%;
}

/* line 38, ../sass/partials/_node-page.scss */
.page-title {
  font-size: 35px;
  display: inline-table;
}
/* line 41, ../sass/partials/_node-page.scss */
.page-title hr {
  margin-top: 0px;
  border-top: solid #0cf;
}

/* line 50, ../sass/partials/_node-page.scss */
.node--type-tjanster img {
  width: 25%;
}

/* line 56, ../sass/partials/_node-page.scss */
.title {
  display: table;
  margin: 20px auto;
}
/* line 59, ../sass/partials/_node-page.scss */
.title hr {
  border-top: solid #0cf;
}

/* line 67, ../sass/partials/_node-page.scss */
.kontakt-page div {
  margin-top: 3px;
}

/* line 2, ../sass/partials/_footer.scss */
.storleden-footer img {
  max-width: 88%;
}
/* line 5, ../sass/partials/_footer.scss */
.storleden-footer .social {
  text-align: center;
}
/* line 7, ../sass/partials/_footer.scss */
.storleden-footer .social img {
  margin-top: 5%;
  margin-left: 10%;
}

/* line 17, ../sass/partials/_footer.scss */
.region-footer {
  background-color: #343434;
  color: white;
  font-size: 10px;
}

/* line 25, ../sass/partials/_footer.scss */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

/* line 40, ../sass/partials/_footer.scss */
.flex-item {
  padding: 5px;
  width: 150px;
  margin-top: 10px;
  height: 100px;
}
