/* line 1, ../sass/partials/_global-for-module.scss */
input.form-text, input.form-email {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-right: 10%;
}

/* line 1, ../sass/partials/_latest-projects.scss */
.projects {
  padding: 25px;
  text-align: center;
}
/* line 5, ../sass/partials/_latest-projects.scss */
.projects img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
/* line 12, ../sass/partials/_latest-projects.scss */
.projects .row {
  margin: 25px 0px 25px 0px;
}
/* line 16, ../sass/partials/_latest-projects.scss */
.projects button {
  margin: 10px 0px 10px 0px;
  background-color: #00c7fc;
  border-radius: 17px;
}
/* line 21, ../sass/partials/_latest-projects.scss */
.projects .cat {
  position: absolute;
  top: 9px;
  left: 144px;
  background-color: #00c7fc;
  border: 1px solid #00b6e6;
  padding: 0px 5px 0px 5px;
}

/* line 1, ../sass/partials/_screen-image-text.scss */
#screenText {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  display: table;
  height: 500px;
  width: 100%;
  color: white;
  margin: -10px 0px -10px 0px;
}
/* line 15, ../sass/partials/_screen-image-text.scss */
#screenText button {
  color: black;
  margin-top: 8%;
  margin-right: 4%;
  border-radius: 20px;
}

/* line 26, ../sass/partials/_screen-image-text.scss */
.screen-title {
  display: table;
  margin: auto;
}
/* line 29, ../sass/partials/_screen-image-text.scss */
.screen-title hr {
  margin-top: -10px;
  margin-bottom: 3px;
  border: 0;
  border-top: 3px solid #ffffff;
}

/* line 37, ../sass/partials/_screen-image-text.scss */
.middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 1, ../sass/partials/_tjanster.scss */
.tjanster {
  margin-top: 50px;
  text-align: center;
}
/* line 6, ../sass/partials/_tjanster.scss */
.tjanster img {
  width: 80px;
}
/* line 9, ../sass/partials/_tjanster.scss */
.tjanster a {
  text-decoration: none;
}
/* line 12, ../sass/partials/_tjanster.scss */
.tjanster a:hover {
  text-decoration: none;
  font-size: 12px;
}
/* line 15, ../sass/partials/_tjanster.scss */
.tjanster a:hover img {
  width: 90px;
}
/* line 19, ../sass/partials/_tjanster.scss */
.tjanster .tjanst {
  display: table;
  margin: 0 auto;
  width: 250px;
  font-size: 11px;
}
/* line 25, ../sass/partials/_tjanster.scss */
.tjanster .row {
  margin-top: 50px;
}

/* line 30, ../sass/partials/_tjanster.scss */
#tjanster {
  padding: 20px;
  text-align: center;
  background: radial-gradient(circle, rgba(255, 254, 254, 0), rgba(189, 189, 189, 0.5), #a0a0a0);
}
/* line 35, ../sass/partials/_tjanster.scss */
#tjanster hr {
  width: 197px;
  margin-top: 0px;
  margin-bottom: -50px;
  border-top: solid #0cf;
}
/* line 43, ../sass/partials/_tjanster.scss */
#tjanster button {
  margin: 47px 0px 32px 0px;
  background-color: #00c7fc;
  border-radius: 17px;
}

/* line 1, ../sass/partials/_text-slider.scss */
#textslider {
  color: white;
}
/* line 3, ../sass/partials/_text-slider.scss */
#textslider .carousel-inner {
  height: 177px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95), #000000);
}
/* line 7, ../sass/partials/_text-slider.scss */
#textslider a {
  color: white;
}
/* line 10, ../sass/partials/_text-slider.scss */
#textslider .carousel-indicators .active {
  background-color: #00c7fc;
}
/* line 13, ../sass/partials/_text-slider.scss */
#textslider .carousel-indicators li {
  border: 1px solid #00c7fc;
}
/* line 17, ../sass/partials/_text-slider.scss */
#textslider img {
  float: right;
  width: 130px;
  margin-top: 17px;
}

/* line 24, ../sass/partials/_text-slider.scss */
.item-text {
  text-align: left;
  text-justify: inter-word;
}

/* line 30, ../sass/partials/_text-slider.scss */
.inner {
  width: 800px;
  display: table;
  margin: auto;
}

/* line 1, ../sass/partials/_our-products-slider.scss */
#ourproducts {
  padding: 20px;
  text-align: center;
}
/* line 6, ../sass/partials/_our-products-slider.scss */
#ourproducts hr {
  width: 300px;
  margin-top: 0px;
  margin-bottom: -50px;
  border-top: solid #0cf;
}
/* line 15, ../sass/partials/_our-products-slider.scss */
#ourproducts .textDiv {
  text-align: justify;
}
/* line 21, ../sass/partials/_our-products-slider.scss */
#ourproducts .title {
  display: table;
  margin: 0 auto;
}
/* line 25, ../sass/partials/_our-products-slider.scss */
#ourproducts img {
  width: 500px;
  display: block;
  margin: 0 auto;
}
/* line 31, ../sass/partials/_our-products-slider.scss */
#ourproducts .carousel-inner {
  margin-top: 20px;
}
/* line 35, ../sass/partials/_our-products-slider.scss */
#ourproducts .row {
  height: 500px;
  padding: 70px;
  margin-bottom: 45px;
}
/* line 40, ../sass/partials/_our-products-slider.scss */
#ourproducts .carousel-indicators .active {
  background-color: #00c7fc;
}
/* line 43, ../sass/partials/_our-products-slider.scss */
#ourproducts .carousel-indicators li {
  border: 1px solid #00c7fc;
}
/* line 47, ../sass/partials/_our-products-slider.scss */
#ourproducts button {
  float: left;
  margin: 27px 0px 10px 0px;
  background-color: #00c7fc;
  border-radius: 18px;
  padding: 7px 20px 7px 22px;
}

/* line 2, ../sass/partials/_kontakt-for-test.scss */
.kontakt-for-test .submit-btn {
  display: table;
  margin: auto;
}
/* line 5, ../sass/partials/_kontakt-for-test.scss */
.kontakt-for-test .submit-btn input {
  background-image: linear-gradient(to bottom, #00c3ff, #00c3ff);
  color: white;
  width: 100px;
  height: 41px;
  border-radius: 20px;
}
/* line 12, ../sass/partials/_kontakt-for-test.scss */
.kontakt-for-test .submit-btn input:hover {
  background-image: linear-gradient(to bottom, #00c3ff, #00c3ff);
  box-shadow: 0 4px 8px 0 #00c3ff;
}
/* line 18, ../sass/partials/_kontakt-for-test.scss */
.kontakt-for-test input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-right: 10%;
}

/* line 2, ../sass/partials/_allprojects.scss */
.port-image {
  width: 100%;
}

/* line 7, ../sass/partials/_allprojects.scss */
.gallery_product {
  margin-bottom: 30px;
}

/* line 12, ../sass/partials/_allprojects.scss */
.filterDiv.btn-group {
  display: table;
  margin: auto;
}

/* line 17, ../sass/partials/_allprojects.scss */
.mybtn.btn-default, .label2.btn-default {
  padding: 6px 10px;
  margin: 10px 0px 20px 0px;
  border-radius: 0;
  color: #ffffff;
  background-color: #00c3ff;
  border-color: #00c3ff;
}

/* line 26, ../sass/partials/_allprojects.scss */
.mybtn.btn-default:hover, .mybtn.btn-default:focus, .mybtn.btn-default:active, .mybtn.btn-default.active, .open > .mybtn.btn-default.dropdown-toggle {
  color: white;
  background-color: black;
  border-color: black;
}

/* line 32, ../sass/partials/_allprojects.scss */
.label1.btn-default {
  padding: 6px 14px;
  margin: 10px 0px 20px 0px;
  border-radius: 0;
  color: #ffffff;
  background-color: black;
  border-color: black;
}
/* line 39, ../sass/partials/_allprojects.scss */
.label1.btn-default span {
  margin-left: 4px;
}

/* line 43, ../sass/partials/_allprojects.scss */
.label1.btn-default:hover, .label1.btn-default:focus, .label1.btn-default:active, .label1.btn-default.active, .open > .label1.btn-default.dropdown-toggle {
  padding: 6px 14px;
  margin: 10px 0px 20px 0px;
  border-radius: 0;
  color: #ffffff;
  background-color: black;
  border-color: black;
}

/* line 53, ../sass/partials/_allprojects.scss */
.label2.btn-default:hover, .label2.btn-default:focus, .label2.btn-default:active, .label2.btn-default.active, .open > .label2.btn-default.dropdown-toggle {
  padding: 6px 10px;
  margin: 10px 0px 20px 0px;
  border-radius: 0;
  color: #ffffff;
  background-color: #00c3ff;
  border-color: #00c3ff;
}

/* line 62, ../sass/partials/_allprojects.scss */
.label2 {
  height: 34px;
}
/* line 64, ../sass/partials/_allprojects.scss */
.label2 span {
  font-size: 35px;
  margin: -8px 4px 0px -21px;
  color: black;
}

/* line 4, ../sass/partials/_kontakt.scss */
.kontakt .ingress {
  text-align: center;
  margin-bottom: 50px;
}
/* line 9, ../sass/partials/_kontakt.scss */
.kontakt input.form-text, .kontakt input.form-email {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-right: 10%;
}
/* line 15, ../sass/partials/_kontakt.scss */
.kontakt .submit-btn {
  display: table;
  margin: auto;
}
/* line 18, ../sass/partials/_kontakt.scss */
.kontakt .submit-btn input {
  background-image: linear-gradient(to bottom, #00c3ff, #00c3ff);
  color: white;
  width: 100px;
  height: 41px;
  border-radius: 20px;
}
/* line 25, ../sass/partials/_kontakt.scss */
.kontakt .submit-btn input:hover {
  background-image: linear-gradient(to bottom, #00c3ff, #00c3ff);
  box-shadow: 0 4px 8px 0 #00c3ff;
}
/* line 41, ../sass/partials/_kontakt.scss */
.kontakt .checkboxes .form-checkboxes .form-item, .kontakt .checkboxes .form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  display: inline-flex;
  margin-right: 50px;
}

/* line 53, ../sass/partials/_kontakt.scss */
.har-finns-vi {
  margin-top: 100px;
  text-align: center;
}
/* line 56, ../sass/partials/_kontakt.scss */
.har-finns-vi div {
  margin-top: 20px;
}
/* line 60, ../sass/partials/_kontakt.scss */
.har-finns-vi .adress {
  width: 137px;
  display: table;
  margin: auto;
}

/* line 69, ../sass/partials/_kontakt.scss */
.title {
  display: table;
  margin: auto;
}
/* line 72, ../sass/partials/_kontakt.scss */
.title hr {
  margin-top: -13px;
  border-top: solid #0cf;
}

/* line 79, ../sass/partials/_kontakt.scss */
.jobba-hos-oss {
  margin-top: 100px;
}
