





<div id="screenText" >
	<div >
		<h2> {{ node.screenTextTitle }}</h2>
		{{ node.screenText }}		
	</div>
	
</div>



<style type="text/css">

#screenText{
	background-image:url("{{ node.imgurl }}");
}
</style>